#head{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-image: url("./assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


#offers{
    margin: 0 auto;
    padding: 0.1% 0;
    margin-right: 2px;
    display: inline-flex;
}


#Happy{
    border: none;
    justify-content: space-between;
    margin-top: 0cm;
    text-align: center;
    padding: 50px;
    height: 1px;
    width: 359px;
    background-color: lightgray;
}


#part{
    border: none;
    text-align: center;
    width: 359px;
    height: 0.3px;
    padding: 50px;
    background-color: tomato;
}


#break{
    border: none;
    color: white;
    width: 359px;
    height: 100px;
    padding: 50px;
    /* padding-right: 2cm; */
    background-image: url("./assets/foodtop/breakfast.jpg");
    /* background-repeat: no-repeat; */
}


#lunch{
    border: none;
    background-image: url("./assets/foodtop/lunch.jpg");
    text-align: center;
    color: white;
    padding: 50px;
    /* padding-left: -30cm; */
    /* background-repeat: no-repeat; */
    height: 100px;
    width: 359px;
}

.one{
    margin: 0 auto;
    flex-direction: column;
}

#dinner{
    border: none;
    width: 359px;
    height: 100px;
    padding: 50px;
    text-align: center;
    color: white;
    background-image: url("./assets/foodtop/dinner.jpg");
}


#A{
    margin: 0;
    padding: 00.1% 0;
    margin-right: 2px;
    display: inline-flex;
}

#ab{
    vertical-align: middle;
    max-height: 25px;
    max-width: 160px;
}

#first{
    padding: 3cm;
    margin-left: 15cm;
    margin-top: 3cm;
    padding-right: 8cm;
    padding-bottom: 2cm;
    background-image: url("./assets/fastFood1.jpg");
    background-repeat: no-repeat;
}


#firsta{
    padding: 3cm;
    margin-left: 15cm;
    padding-right: 8cm;
    margin-top: 0cm;
    padding-bottom: 2cm;
    background-image: url("./assets/fastFood2.jpg");
}

#firstb{
    padding-right: 2cm;
    margin-left: 28cm;
    margin-right: 5cm;
    border: 0cm solid gray;
    max-width: 10cm;
    max-height: 10cm;
    text-align: left;
}


#view{
    color: red;
    border: 0.01cm solid red;
    text-align: center;
    padding-top: 0.2cm;
    margin-top: 2.7cm;
}


#textB{
    margin-top: 8cm;
    margin-left: 15cm;
    margin-right: 15cm;
    border: 0cm solid gray;
    max-width: 13cm;
    max-height: 25cm;
    text-align: right;
}


#drink1{
    background-image: url("./assets/drink1.jpg");
    background-repeat: no-repeat;
    padding: 7cm;
    margin-left: 30cm;
    margin-right: 0cm;
    margin-top: -5cm;
}

#drink2{
    background-image: url("./assets/drink2.jpg");
    background-repeat: no-repeat;
    padding: 7cm;
    margin-top: -14cm;
    margin-right: 0cm;
    margin-left: 36cm;
}

#nav{
    text-align: center;
    display: inline-flex;
    margin-left: 20cm;
    justify-content: space-between;
    color: white;
}


.C{
    border: 1cm solid white;
    margin-top: 3cm;
    background-image: url("./assets/backgrounds/foodsBg.jpg");
    padding: 7px;
    padding-bottom: 0cm;
    padding-top: 10cm;
}


#burger{
    text-align: left;
    color: red;
    margin-left: 9cm;
    margin-top: -9cm;
    margin-bottom: -10.5cm;
    padding: 5cm;
    padding-right: 3cm;
    /* padding-left: 3cm;
    margin-left: 10cm; */

    background-repeat: no-repeat;
    background-image: url("./assets/fastfood/chickenBurger.jpg");
}

#beef{
    padding: 5cm;
    padding-left: 3cm;
    background-image: url("./assets/fastfood/beefBurger.jpg");
    background-repeat: no-repeat;
    margin-top: -40.5;
    margin-left: 17cm;
    color: red;
    text-align: left;
}


#Pizza{
    background-image: url("./assets/fastfood/chickenPizza.jpg");
    background-repeat: no-repeat;
    margin-top: -10.5cm;
    margin-left: 25cm;
    padding-left: 3cm;
    color: red;
    text-align: justify;
    padding: 5cm;
}


#customers{
    border: 0cm solid gray;
    max-width: 50cm;
    max-height: 10cm;
}


#massage{
    margin-left: 2cm;
    margin-top: 0cm;
    border: 0cm solid white;
    max-width: 20cm;
    max-height: 4cm;
}


#menu{
    margin-left: 25cm;
    margin-top: -3cm;
    border: 0cm solid white;
    /* max-width: 20cm;
    max-height: 4cm; */
}

