#head{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-image: url("./assets/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}